$rootBGC: hsl(210, 13%, 95%);
$rootBGC_darkM: hsl(210, 2%, 24%);
$textGrayC_darkM: hsl(210, 5%, 70%);
$mainC: hsl(210, 90%, 80%);
$mainC_darkM: hsl(210, 50%, 60%);
$mainWeakC: hsl(210, 77%, 90%);
$mainWeakC_darkM: hsl(210, 40%, 50%);
$contentBGC: #fff;
$contentBGC_darkM: hsl(210, 4%, 32%);
$contentBGC_focus: hsl(210, 16%, 92%);
$contentBGC_focus_darkM: hsl(210, 4%, 46%);
$boxShadowC: hsla(210, 17%, 88%, 0.16);
$boxShadowC_darkM: hsla(210, 5%, 24%, 0.16);
$textC: hsl(210, 4%, 26%);
$textC_darkM: hsl(210, 20%, 98%);
$textGrayC: hsl(210, 5%, 60%);
$codeBGC: hsl(210, 8%, 7%); /* invert(1) saturate(2.5) hue-rotate(180deg)するため */
$codeBGC_darkM: hsl(210, 6%, 24%);
$defListBGC: hsl(210, 90%, 90%);
$defListBGC_darkM: hsl(210, 25%, 38%);

@font-face {
  font-family: 'icc0n';
  src: url('../public/asset/font/icc0n.ttf?e18zeb') format('truetype'), url('../public/asset/font/icc0n.woff?e18zeb') format('woff'), url('../public/asset/font/icc0n.svg?e18zeb#icc0n') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  background-color: $rootBGC;
  height: 100%;

  @media (prefers-color-scheme: dark) {
    & {
      background-color: $rootBGC_darkM;
    }
  }
}

body {
  color: $textC;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  height: 100%;
  line-height: 1.813;
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;

  @media (prefers-color-scheme: dark) {
    & {
      color: $textC_darkM;
    }
  }

  @media screen and (min-width: 2400px) {
    font-size: 1.5rem;
  }
}

main {
  display: block;
}

a {
  color: inherit;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.l_in {
  margin-left: auto;
  margin-right: auto;
  width: 46.154%;
  max-width: 1400px;
}

.l_flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.header {
  &_wrap {
    background-color: $contentBGC;
    border-bottom: 2px solid $mainC;
    flex-direction: column;
    margin-bottom: 3.5rem;

    @media (prefers-color-scheme: dark) {
      & {
        background-color: $contentBGC_darkM;
        border-bottom-color: $mainC_darkM;
      }
    }
  }

  &_brand {
    align-items: stretch;
  }

  &_logotype {
    &,
    &__invert {
      height: 1rem;
    }

    &__invert {
      display: none;
    }

    @media (prefers-color-scheme: dark) {
      & {
        display: none;

        &__invert {
          display: block;
        }
      }
    }
  }
}

.g_nav_wrap {
  margin-left: auto;
}

#g_nav_ctrl {
  display: none;
  margin: 0;
  opacity: 0;
  width: 1px;
}

.g_nav_label {
  display: none;
  margin-left: auto;
  padding: 0.125rem 0;
}

.icon {
  &::before {
    color: inherit;
    display: inline-block;
    font-family: 'icc0n';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
  }

  &__g_nav_ctrl::before {
    border-radius: 50%;
    content: '\e900';
    font-size: 0.875em;
    margin-inline-start: 0.25em;
    padding: 0.35em;
    transform: rotate(90deg);
    transition: transform 0.15s ease-out, background-color 0.15s ease-out;

    #g_nav_ctrl:checked ~ .g_nav_label > & {
      transform: rotate(270deg);
    }

    #g_nav_ctrl:focus ~ .g_nav_label > & {
      background-color: $contentBGC_focus;

      @media (prefers-color-scheme: dark) {
        & {
          background-color: $contentBGC_focus_darkM;
        }
      }
    }
  }

  &__article_jump::before {
    content: '\e900';
    font-size: 2rem;
  }

  &__prev_top_arrow::before {
    content: '\e904';
    transform: rotate(180deg);
  }

  &__prev_arrow::before,
  &__next_arrow::before {
    content: '\e903';
  }

  &__prev_arrow::before {
    transform: rotate(180deg);
  }
}

.list_no_buret {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#g_nav {
  display: flex;
  justify-content: space-between;
  margin: 0 -0.625rem 0 0;
  transition: background-color 0.15s ease-out;
}

.g_nav_item {
  display: block;
  padding: 0.313rem 0.75rem;
  text-decoration: none;

  &:hover {
    background-color: $contentBGC_focus;
    transition: background-color 0.15s ease-out;

    @media (prefers-color-scheme: dark) {
      & {
        background-color: $contentBGC_focus_darkM;
      }
    }
  }
}

.main {
  flex: 1;
}

.weak_shadow {
  box-shadow: 0 1px 6px 2px $boxShadowC;

  @media (prefers-color-scheme: dark) {
    & {
      box-shadow: 0 1px 6px 2px $boxShadowC_darkM;
    }
  }
}

.main_visual {
  width: 95%;

  &_padding {
    align-items: stretch;
    background-color: $contentBGC;
    margin: 0 0 3rem 3px;
    padding: 2rem 1.5rem;

    @media (prefers-color-scheme: dark) {
      & {
        background-color: $contentBGC_darkM;
      }
    }

    &::before {
      background-color: $mainC;
      content: '';
      display: inline-block;
      height: auto;
      transform: translateX(-1.688rem);
      width: 6px;

      @media (prefers-color-scheme: dark) {
        & {
          background-color: $mainC_darkM;
        }
      }
    }
  }

  &_catchcopy {
    font-weight: normal;
    font-size: 1.375rem;
    margin: 0;
  }
}

.count_categories {
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0 0 0.5rem;
}

.count_category {
  border-bottom: 1px solid #e6eaed;
  display: block;
  margin-top: 0.75rem;
  text-decoration: none;
}

.article_link,
.article_info {
  margin: 1.25rem 0;

  &_target {
    background-color: $contentBGC;
    padding: 0.438rem 1rem 0.125rem 1.5rem;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      & {
        background-color: $contentBGC_darkM;
      }
    }
  }

  &_category {
    background-color: $mainWeakC;
    display: inline-block;
    padding: 0.125rem 0.75rem;
    position: relative;
    top: 0.75rem;
    left: 0.75rem;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      & {
        background-color: $mainWeakC_darkM;
      }
    }
  }

  &_title {
    flex: 1;
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding-right: 0.875rem;
    word-break: break-all;
  }
}

.article_links {
  margin: 1.25rem 0 2.5rem;
}

.article_link {
  &_target {
    flex-wrap: nowrap;
  }

  &_title {
    border-right: 2px solid $contentBGC_focus;
    margin-right: 0.625rem;

    @media (prefers-color-scheme: dark) {
      & {
        border-right-color: $contentBGC_focus_darkM;
      }
    }
  }
}

.pagination {
  justify-content: center;

  &__current,
  &__link,
  &__link__num {
    background-color: $contentBGC;
    font-size: 1.25rem;
    padding: 0.75rem 0.938rem;
    margin: 0 0.375rem;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      & {
        background-color: $contentBGC_darkM;
      }
    }
  }

  &__current {
    background-color: $mainWeakC;
  }
}

.footer_wrap {
  background-color: $contentBGC;
  border-top: 2px solid $mainC;
  padding: 1rem;
  margin-top: 5rem;
  text-align: center;

  @media (prefers-color-scheme: dark) {
    & {
      background-color: $contentBGC_darkM;
      border-top-color: $mainC_darkM;
    }
  }
}

.copyright {
  margin-left: 3rem;
  text-align: center;
}

/* Style for only article page */

.article {
  background-color: $contentBGC;
  margin-top: 3rem;
  padding: 1rem 1.5rem;

  @media (prefers-color-scheme: dark) {
    & {
      background-color: $contentBGC_darkM;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;

    &:not(:first-child) {
      margin: 2em 0 -0.5em;
    }
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.313rem;
  }

  h5,
  h6 {
    font-size: 1.188rem;
  }

  p {
    margin: 1rem 0;
  }

  ul {
    margin-left: 0;
    padding-left: 1.25rem;
  }

  table {
    border-collapse: collapse;
    border-top: 1px solid $textGrayC;
    margin: 1rem 0 2rem;
    width: 100%;

    @media (prefers-color-scheme: dark) {
      & {
        border-top-color: $textGrayC_darkM;
      }
    }
  }

  tr {
    border-bottom: 1px solid $textGrayC;

    @media (prefers-color-scheme: dark) {
      & {
        border-bottom-color: $textGrayC_darkM;
      }
    }
  }

  th,
  td {
    padding: 0.125rem 0.5rem;
  }

  th {
    text-align: left;
  }

  code,
  samp {
    font-size: 1.125rem;
    padding: 0.25em 0;
    word-break: break-all;
  }

  kbd {
    font-size: 1.125rem;
    padding: 0.25em 0.375em;
  }

  pre > code,
  :not(kbd) > kbd {
    background-color: $codeBGC;
    color: $textGrayC_darkM;
    filter: invert(1) saturate(2.5) hue-rotate(180deg);

    @media (prefers-color-scheme: dark) {
      & {
        background-color: $codeBGC_darkM;
        color: $textC_darkM;
        filter: saturate(1.5);
      }
    }
  }

  pre {
    margin: 1.25rem 0 2.5rem;
    white-space: pre-wrap;

    > code {
      display: block;
      font-size: 0.875rem;
      padding: 1rem;
    }
  }

  dl {
    margin: 1.5rem 0;

    > div {
      background-color: $defListBGC;
      margin: 1rem 0;
      padding: 1rem;

      @media (prefers-color-scheme: dark) {
        & {
          background-color: $defListBGC_darkM;
        }
      }
    }
  }

  dt {
    font-size: 1.375rem;
    margin-bottom: 0.5rem;

    + dt {
      margin-top: -0.5rem;
    }
  }

  dd {
    margin: 0.375rem 0;
  }

  hr {
    border: 1px solid $textGrayC;
    margin: 2rem 0;

    @media (prefers-color-scheme: dark) {
      & {
        border-color: $textGrayC_darkM;
      }
    }
  }
}

.article_recom {
  background-color: $contentBGC;
  border-bottom: 2px solid $mainC;
  margin: 5rem 0 1.25rem;
  padding: 0.125rem 1.5rem;

  @media (prefers-color-scheme: dark) {
    & {
      background-color: $contentBGC_darkM;
      border-bottom-color: $mainC_darkM;
    }
  }

  &_title {
    font-size: 1.125rem;
    font-weight: normal;
  }
}

@media (max-width: 767px) {
  .pagination__link__num {
    display: none;
  }
}

@media (max-width: 1299px) {
  .l_in {
    width: 91.25%;
    max-width: 600px;
  }

  #g_nav_ctrl:checked ~ #g_nav {
    background-color: $contentBGC;
    border-top: 2px solid $mainC;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 -0.813rem;
    position: absolute;
    width: max-content;
    z-index: 10000;

    @media (prefers-color-scheme: dark) {
      & {
        background-color: $contentBGC_darkM;
        border-top-color: $mainC_darkM;
      }
    }

    & .g_nav_item {
      border-left: 2px solid $mainC;
      padding: 0.5rem 0.75rem;
      min-width: 5rem;

      @media (prefers-color-scheme: dark) {
        & {
          border-left-color: $mainC_darkM;
        }
      }
    }
  }

  #g_nav_ctrl,
  .g_nav_label {
    display: inline-block;
  }

  #g_nav {
    display: none;
  }
}
